{{extend 'layout.html'}}
<br \>
<div>
  <img src="{{=URL('static', 'images/LogoElAsistente.png')}}" height="30%" width="30%" style="margin-left:5%"/>
<iframe class="pull-left" src="https://app.emaze.com/@AITRFFLL/el-asistente?autoplay" width="720px" height="405px" seamless webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<br />
<br />
<div><p>
   <a class="btn btn-asistente btn-lg" style="display: block; width: 100%; font-size:36px" href="{{=URL('estado_academico', 'index.html')}}" role="button">Comenzar</a>  
    </p>
   
</div>
