{{extend 'layout.html'}}
<script type="text/javascript" src="/universitary_advisor/static/js/carga-horaria.js"></script>


<div ng-app="cargaHoraria" ng-controller="CargaHorariaController as controller" class="col-lg-2">
	     <table class="table table-bordered table-striped">
	         <thead>
	             <tr>
	                 <th></th>
	                 <th ng-repeat="dia in controller.dias">{! dia.description !}</th>
	             </tr>
	         </thead>
	         <tbody id="selectable" class="selectable">
                     <tr ng-repeat="horario in controller.horarios">
                         <th>{! horario !}</th>
                         <td class="ui-state-default"></td>
                         <td class="ui-state-default"></td>
                         <td class="ui-state-default"></td>
                         <td class="ui-state-default"></td>
                         <td class="ui-state-default"></td>
                     </tr>
	         </tbody>
	     </table>
	 </div>
